.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj
*.DS_Store

codigo/*.zip

*.aux
*.log
*.out
*.snm
*.nav
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.RData
.vscode

data/reanalysis/**/*.nc
data/cmip/projections/**/*.nc
data/training/*.csv
data/testing/*.csv
data/to_be_downscaled/**/*.csv
Downscaling/experimentation_bruno/credentials.csv
code/naive_model.html
code/__pycache__/**
models/hyperparameters/cnn/**
models/hyperparameters/lstm/**
temporal_downscaling_py/
code/downscaling_reports_generator/generator_reduced_files/*
reports/downscaling_evaluation/sfcWind_reduced_files/*

data/downscaling_ute/*
