.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj
*.DS_Store

codigo/*.zip

*.aux
*.log
*.out
*.snm
*.nav
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz
*.RData
.vscode

Downscaling/experimentation_bruno/credentials.csv
code/naive_model.html
