absl-py==2.1.0
astunparse==1.6.3
attrs==25.1.0
cdsapi==0.7.5
cftime==1.6.4.post1
click==8.1.7
cloudpickle==3.0.0
dask==2024.9.0
dask-expr==1.1.14
dask-glm==0.3.2
dask-ml==2024.4.4
datapi==0.1.2
dill==0.3.9
distributed==2024.9.0
feature-engine==1.8.1
flatbuffers==24.3.25
fsspec==2024.9.0
future==1.0.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.1
h5py==3.11.0
hyperopt==0.2.7
Jinja2==3.1.4
joblib==1.4.2
jsonpointer==2.1
keras==3.5.0
keras-tuner==1.4.7
kt-legacy==1.0.5
libclang==18.1.1
llvmlite==0.43.0
locket==1.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.1
msgpack==1.1.0
multipledispatch==1.0.0
multiurl==0.3.3
namex==0.0.8
netCDF4==1.7.2
networkx==3.3
numba==0.60.0
numpy==1.26.4
nvidia-nccl-cu12==2.23.4
opt-einsum==3.3.0
optree==0.12.1
pandas==2.2.2
partd==1.4.2
patsy==0.5.6
protobuf==4.25.5
psutil==6.0.0
py4j==0.10.9.7
pyarrow==17.0.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
rich==13.8.1
scikit-learn==1.5.2
scipy==1.14.1
setuptools==72.1.0
shap==0.46.0
six==1.16.0
slicer==0.0.8
sortedcontainers==2.4.0
sparse==0.15.4
statsmodels==0.14.3
tblib==3.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
threadpoolctl==3.5.0
toolz==0.12.1
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.4
wheel==0.43.0
wrapt==1.16.0
xarray==2025.1.1
xgboost==2.1.1
yml==0.0.1
zict==3.0.0